body{
    font-family: 'Karla', sans-serif;
}
.navbar{
    background-color: #64B5F6;
    padding:  2px 10px;
    opacity: 0.7;
    font-family: "Georgia", serif;
    border-color: #90CAF9;
    border-radius: 0;
    font-family: 'Karla', sans-serif;
}
.navbar-brand{
    vertical-align: top;
}
.navbar-header{
    text-align: center;
    vertical-align: top ;
}
.navbar-header .navbar-brand > h3{
    color: #E0E0E0;
    font-size: 1.4em;
    padding: 0%;
    vertical-align: top ;
    margin: 0%  
}
.logo {
    margin-right: 20px;
}

#intro {
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
}
.formContainer {
    vertical-align: middle;
    text-align: center;
}
.formContainer input[type=text]{
    border-radius: 3px;
    box-shadow: inset 0;
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 5px 20px 5px;
    padding: 8px;
}
#form1, #form2, #form3 {
    padding: 0 50px;
}
#review, #category {
    width: 100%;
    border-radius: 3px;
    box-shadow: inset 0;
    border: 1px solid #ccc;
    margin: 0 5px 20px 5px;
    padding: 10px;
}
.myBtn{
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 8px;
    border-radius: 3px;
    width: 45%
}
/* -------------------Modal review type -------------------------*/
.typeReview {
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------Loader -------------------------*/
.cog1 {
    font-size:70px;
    margin-right: -10px;
    animation-name: spin2;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
  }
.cog2 {
    font-size:100px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
  
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#loading {
    opacity: 0.7;
}
/* -------------------Footer-------------------------*/
.myfooter{
    background-color: rgb(131, 183, 224);
    color: #E0E0E0;
    padding: 10px 20px 0 20px;
    margin-bottom: 0%;
    margin: 0%;
    min-width: 100%
}
.myfooter p{
    font-size: 11px;   
}

#ufscarFooter{
    text-align: center; 
    background-color: rgb(105, 161, 207);
    padding: 0 20px 10px 20px;
}
.links{
    font-size: 11px;
}
.container{
    width: 80vw;
    height: 60vh;
}